.about{
  overflow: hidden;
  &__header{
    background-color:$pri_blue;

    &__passage-content{
      @include content_padding;
      &-passage{
        font-family: $passage;
        font-size:1.35rem;
        letter-spacing:1px;
        line-height:1.8;
        color:darken($pri_white,2%);

      }
      &-verse{
        font-family: $verse;
        text-align:right;
        font-size:1.5rem;
        color:$pri_yellow;

      }
    }
  }

  &__content-block{
    display:flex;
    font-size:1.1rem;

    &__location{
      background-color:darken($pri_blue,10%);
      color:darken($pri_white,10%);
      flex:1.5;
      display:flex; align-items:center;
      padding-left:10vw;

      &__text-content{
        display:block;
        font-weight:500;
        letter-spacing:1.5px;
        &-text{
          font-size:1.5rem;

        }
      }
      &-head{
        text-transform:uppercase;
        color:$pri_yellow;
        font-size:2.25rem;
        margin-bottom:.5rem;

      }
    }
    &__service{
      background-color:lighten($pri_blue,40%);
      padding:5rem 0;
      flex:2.5;
      text-align:center;


      &-head{
        text-transform:uppercase;
        font-size:2.25rem;
        margin-bottom:2rem;

      }
      &-time{
        display:inline-block;
        &-text{
          margin:0 10vh 3rem 10vh; text-align:left;
          font-size:1.25rem;

        }
        &-block{
          display:inline-block;
          border:7px solid black;
          border-radius:50%;
          width:145px; height:145px;
          margin:0 1rem;
          position:relative;

          p{
            position:absolute; top:50%; transform:translateY(-50%);
            width:100%; text-align:center;
            font-weight:900; font-size:1.5rem;

          }
        }
      }
    }
  }
  &__pastor{
    @include content_padding;
    background-color: antiquewhite;
    h2{
      font-family:gotham_light; font-size:3rem;
      text-transform:uppercase; text-align:center;
      margin-bottom:3.75vh;
    }
    &__content{
      display:flex;

      &__image-div{

        flex:3;
        margin-right:1rem;
        &-img{
          width:100%;
        }
      }
    }
    &__text-content{

      flex:4;
      margin-left:1.5rem;
      &-p{
        &:first-child{ padding-top:0; }
        padding-top:.75rem;
        font-size:1.25rem;

      }
    }
  }
}