.footer{
  overflow: hidden;
  background-color:pink;
  &__content{
    @include content_padding;
    display:flex;
    justify-content:space-between;


    p{
      font-size:1.15rem;

    }
    &-left{
      &-h4{
        font-size:1.35rem;

      }
    }
    &-right{
      h4:last-of-type{
        margin-top:1rem;
      }

    }
  }
}