.nav{
  position:fixed; top:0; left:0;
  width:100%;
  font-family:gothamB;
  text-transform:uppercase;
  display:flex;
  justify-content:space-between;
  padding:1.5rem 2rem 0 2rem;

  &__title{

    color:white;
    display:inline-block;
    border:3px solid white;
    text-align:center;
    letter-spacing:3px;
    padding:7px 15px 0 15px;
    line-height:1.4;
    background-color:rgba(60,60,60,.37);
    small{ font-family:gothamM; letter-spacing:1px; }
  }
  &__links{

    align-self:center;
    font-family:'gotham_light',Fallback,sans-serif;
    &-link{
      p{ display:inline-block; }
      &:not(:last-child){ margin-right:1.25rem; }
      &:link,&:visited{ text-decoration:none; color:white; }
    }

  }
}