.news-events{
  background-color:rgb(50, 70, 110);
  color:$mainWhite;
  &__title{font-size:2rem;margin-bottom:3rem;}
  &__block{
    margin:0 0 1.5rem 0; padding:.7rem .5rem;
    border:2px solid $mainWhite;
    font-size:1.5rem;

    &-left{float:left;}
    &-right{float:right;font-weight:300;color:darken($mainWhite,15%);}
    &::after{ @include clearfix; }
    &:last-child{margin:0;}
  }
}