.services{
  background-color:$mainWhite;

  &__content-left{
    color:$mainBlack;
    width:calc(50% - 1.5rem); float:left;
    background-color:rgba($mainWhite,.7);
    padding:5rem 0 5rem 17.5%;
    
    &__location{
      &-header{font-size:2rem; padding-bottom:2.5rem; line-height:0;}
      &-text{
        font-size:1.75rem; font-weight:500;
        line-height:2rem; letter-spacing:2px;
      }
    }
  }
  &__content-right{
    width:calc(50% + 1.5rem); float:left;
    text-align:center;
    padding:5rem 0 0 0;
    color:$mainWhite;

    h4{font-size:2rem; font-weight:300; line-height:0;}
    &__in-block{
      display:inline-block;
      width:90px; height:90px;
      border:7px solid darken($mainWhite,30%);
      border-radius:50%;
      position: relative;
      margin:2.5rem .75rem 1rem .75rem;

      &>*{ @include absoluteCenter }
    }
  }
  & .content.top{
    width:100%;
    margin:0; padding:0;
    background-image:
      linear-gradient(to right,
        rgb(45,120,195),
        lighten(rgb(20, 50, 80),15%) 50%,
        rgb(20, 50, 80) 100%
      ),
      url(/images/_services/service.jpg);
    background-size:cover;
    background-position:center;
    background-blend-mode:hard-light;

    &::after{ @include clearfix; }
  }
  & .content.bottom{
    color:$mainBlack;
    padding:2.5rem 0;

    &::after{ @include clearfix; }
  }
}

.bottom{
  &-left{
    width:50%; float:left;
    padding-right:1.5rem;
    &-header{font-size:2rem; font-weight:300; margin-bottom:1.5rem;}
    &-block{
      padding:1.25rem 0 1.25rem 0;
      border-bottom:1px solid lighten($mainBlack,25%);

      &-title{font-size:1.25rem; font-weight:500;}
      &-text{font-size:.8rem; font-weight:300; text-align:right;}
      p{padding:0;}
      &:last-child{padding-bottom:0; border-bottom:none;}
    }
  }
  &-right{
    width:50%; float:left;
    padding-left:1.5rem;
    &-header{font-size:2rem; font-weight:300;margin-bottom:1.5rem;}
    &-block{
      padding:1.25rem 0 1.25rem 0;
      border-bottom:1px solid lighten($mainBlack,25%);
      &-title{font-size:1.25rem; font-weight:500;}
      &-text{font-size:.8rem; font-weight:300;}
      p{padding:0;}
      &:last-child{padding-bottom:0; border-bottom:none;}
    }
  }
  
}